---
import { getCollection } from "astro:content";
import ProjectsSlider from "./ProjectsSlider.svelte";
const posts = await getCollection("projects");
---

<div class="flex h-full justify-between">
  <ProjectsSlider client:load projects={posts} />
</div>
