---
import { getCurrentTime } from "./TimeUtil";
import Weather from "./Weather.svelte";
const formattedTime = getCurrentTime("Etc/GMT-2");
---

<div class="flex justify-between h-20 lg:h-full">
  <div class="relative flex-1 h-20 top-0">
    <img
      src="/cph_map.png"
      class="min-h-full translate-x-[-5%] relative z-0"
      alt=""
    />
    <div
      class="dot w-3 h-3 bg-white absolute top-[45%] left-[35%] -translate-x-1/2 -translate-y-1/2 z-10 rounded-full"
    >
    </div>
  </div>
  <div class="flex flex-col justify-center m-2 mr-5 text-right items-end">
    <p class="font-bold text-lg">Copenhagen</p>
    <p><span id="timeBox">{formattedTime}</span> (GMT +2)</p>
    <p>
      <Weather client:only />
    </p>
  </div>
</div>

<script>
  import { getCurrentTime } from "./TimeUtil";

  setInterval(() => {
    const timeBox = document.getElementById("timeBox");
    if (!timeBox) return;
    timeBox.innerText = getCurrentTime("Etc/GMT-2");
  }, 1000);
</script>

<style>
  @keyframes pulse {
    0% {
      box-shadow:
        0 0 0 0 rgba(66, 23, 255, 0.7),
        0px 0px 4px 5px rgba(54, 54, 54, 0.25);
    }
    70% {
      box-shadow:
        0 0 0 10px rgba(66, 23, 255, 0),
        0px 0px 4px 5px rgba(54, 54, 54, 0.25);
    }
    100% {
      box-shadow:
        0 0 0 0 rgba(66, 23, 255, 0),
        0px 0px 4px 5px rgba(54, 54, 54, 0.25);
    }
  }
  .dot {
    animation: pulse 2s infinite;
  }
  @media (prefers-reduced-motion) {
    .dot {
      animation: none;
      box-shadow:
        0 0 3px 4px rgba(66, 23, 255, 0.7),
        0px 0px 4px 5px rgba(54, 54, 54, 0.25);
    }
  }
</style>
