---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BentoBox from "../components/BentoBox.astro";
import "../styles/github-calender.css";
import GithubCalender from "../components/GithubCalender.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <div class="grid grid-cols-3 gap-4">
        <BentoBox colSpan={2}>
          <div class="flex justify-start items-center">
            <p>
              Hi, I'm <span class="highlight">Philip</span>! I'm a full stack developer with a passion for creating beautiful
			  and intuitive user interfaces. I'm currently studying my master's
			  degree in Computer Science at IT-University of Copenhagen.
            </p>
            <img
              class="w-1/4 h-auto border-solid border-[.2rem] rotate-6"
              src="/pb.jpg"
              alt="Picture of Philip Flyvholm"
            />
          </div>
        </BentoBox>
        <BentoBox>
          <p>
			I always have multiple projects going on since I just can't stop creating new projects
			I’m interested in Web development and language parsing.
          </p>
          <h5>My primary tools</h5>
          <ul class="list-disc">
            <li>Typescript</li>
            <li>Svelte</li>
            <li>React</li>
          </ul>
        </BentoBox>
        <BentoBox colSpan={3}>
          <h1>Hallo</h1>
        </BentoBox>
        <BentoBox>
          <h1>Hallo</h1>
        </BentoBox>
        <BentoBox colSpan={2}>
          <GithubCalender username="PhilipFlyvholm" />
        </BentoBox>
        <BentoBox colSpan={3} padding="0">
          <Footer />
        </BentoBox>
      </div>
    </main>
  </body>
</html>
