---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import BentoBox from "../components/BentoBox.astro";
import "../styles/github-calender.css";
import GithubBox from "../components/Github/GithubBox.astro";
import { getCollection, type CollectionEntry } from "astro:content";
import ProjectBox from "../components/Project/ProjectBox.astro";

type Project = CollectionEntry<"projects">;
const projects = (await getCollection("projects")).sort(
  (a: Project, b: Project) =>
    b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <main>
      <div class="grid grid-cols-3 gap-4">
        <BentoBox colSpan={2}>
          <div class="flex justify-start items-center">
            <p>
              Hi, I'm <span class="highlight">Philip</span>! I'm a full stack
              developer with a passion for creating beautiful and intuitive user
              interfaces. I'm currently studying my master's degree in Computer
              Science at IT-University of Copenhagen.
            </p>
            <img
              class="w-1/4 h-auto border-solid border-[.2rem] rotate-6"
              src="/pb.jpg"
              alt="Picture of Philip Flyvholm"
            />
          </div>
        </BentoBox>
        <BentoBox>
          <p>
            I always have multiple projects going on since I just can't stop
            creating new projects. I’m interested in Web development and
            language parsing.
          </p>
          <h5>My primary tools</h5>
          <ul class="list-disc">
            <li>Typescript</li>
            <li>Svelte</li>
            <li>React</li>
          </ul>
        </BentoBox>
        <BentoBox colSpan={2}>
          <GithubBox username="PhilipFlyvholm" />
        </BentoBox>
        {
          projects.map((project,i) => (
            <BentoBox padding="0" rowSpan={project.data.rowSize ?? 1} colSpan={project.data.colSize ?? 1}>
              <ProjectBox project={project} />
            </BentoBox>
          ))
        }
        <BentoBox colSpan={3} padding="0">
          <Footer />
        </BentoBox>
      </div>
    </main>
  </body>
</html>
