---
interface Props {
  row?: string;
  col?: string;
  padding?: string;
  computerOnly?: boolean;
}
const {
  padding = "p-5",
  row = "row-span-1",
  col = "row-span-1",
  computerOnly = false,
} = Astro.props;
---

<div
  class={`bg-gradient-to-t from-accent to-light border-gray border-[1px] rounded-3xl ${padding} ${row} ${col} overflow-hidden ${computerOnly ? "hidden md:block" : ""}`}
>
  <slot />
</div>
