---

interface Props {
    username: string;
}

const { username } = Astro.props;
---
<div class="calendar" data-username={username}>
    Loading github...
</div>

<script>
    function getInfo(username: string, cache: boolean){
        const cacheKeys = {
            content: `gh_info_content.${username}`,
            expire_at: `gh_info_expire.${username}`
        }
        if (cache) {
            const currentCacheExpire = localStorage.getItem(cacheKeys.expire_at)
            if (currentCacheExpire && Date.now() < +currentCacheExpire) {
                const content = localStorage.getItem(cacheKeys.content)
                if (content) {
                    return Promise.resolve(content)
                }
            }

        }

        return fetch(`https://api.bloggify.net/gh-calendar/?username=${username}`).then(r => r.text()).then(body => {
            if (cache) {
                localStorage.setItem(cacheKeys.content, body)
                localStorage.setItem(cacheKeys.expire_at, Date.now() + (1000 * 60 * 60 * 24) + "")
            }
            return body
        })
    }

    document.addEventListener('DOMContentLoaded', function() {
        const calendarEl = document.querySelector('.calendar') as HTMLElement;
        if (!calendarEl || !calendarEl.dataset.username) {
            return;
        }
        const username = calendarEl.dataset.username;
        getInfo(username, true).then(content => {
            const div = document.createElement('div');
            div.innerHTML = content;
            const header = div.querySelector("h2")
            if (!header) {
                return;
            }
            const activity = div.querySelector("#user-activity-overview div div div div div")
            if (!activity) {
                return;
            }
            calendarEl.innerHTML = header.innerHTML + activity.innerHTML;
        });
    });
</script>

