---
import { Icon } from "astro-icon/components";
const skills: {
  [key: string]: {
    Icon: string;
    Name: string;
  }[];
} = {
  "Web Development": [
    { Icon: "simple-icons:nodedotjs", Name: "Node.js" },
    { Icon: "simple-icons:typescript", Name: "TypeScript" },
    { Icon: "simple-icons:html5", Name: "HTML" },
    { Icon: "simple-icons:css", Name: "CSS" },
    { Icon: "simple-icons:react", Name: "React" },
    { Icon: "simple-icons:svelte", Name: "Svelte" },
    { Icon: "simple-icons:nextdotjs", Name: "Next.js" },
    { Icon: "simple-icons:express", Name: "Express" },
    { Icon: "simple-icons:tailwindcss", Name: "Tailwind" },
    { Icon: "simple-icons:wordpress", Name: "Wordpress" },
  ],
  "Programming Languages": [
    { Icon: "simple-icons:scala", Name: "Scala" },
    { Icon: "cib:java", Name: "Java" },
    { Icon: "simple-icons:python", Name: "Python" },
    { Icon: "simple-icons:go", Name: "Go" },
    { Icon: "simple-icons:dotnet", Name: "dotnet" },
    { Icon: "simple-icons:csharp", Name: "C#" },
    { Icon: "simple-icons:fsharp", Name: "F#" },
    { Icon: "simple-icons:cplusplus", Name: "C/C++" },
    { Icon: "simple-icons:haskell", Name: "Haskell" },
    { Icon: "simple-icons:erlang", Name: "Erlang" },
    { Icon: "simple-icons:ruby", Name: "Ruby" },
  ],
  "Tools and Infrastructure": [
    { Icon: "simple-icons:postgresql", Name: "PostgreSQL" },
    { Icon: "simple-icons:git", Name: "Git" },
    { Icon: "simple-icons:docker", Name: "Docker" },
    { Icon: "simple-icons:linux", Name: "Linux" },
    { Icon: "simple-icons:vercel", Name: "Vercel" },
    { Icon: "simple-icons:figma", Name: "Figma" },
  ],
};
---

<>
  <div class="grid grid-cols-1 lg:grid-cols-3 gap-1 h-full">
    {
      Object.entries(skills).map(([skillGroup, skills], i) => (
        <>
          <label
            tabindex="1"
            class="px-4 py-2 cursor-pointer has-[input:checked]:cursor-default bg-primary hover:bg-accent rounded-full text-sm has-[input:checked]:bg-secondary has-[input:checked]:text-light transition-colors w-full lg:col-start-1 label flex justify-center items-center"
            for={"tab-" + i}
          >
            <input
              type="radio"
              class="hidden"
              name="skillTabs"
              id={"tab-" + i}
              checked={i == 0 ? "checked" : ""}
            />

            {skillGroup}
          </label>
          <div
            class="panel lg:col-start-2 lg:col-end-4 lg:row-start-1 lg:row-end-4 grid-cols-3 lg:grid-cols-4 flex-row w-full flex-wrap hidden content-start bg-accent border-[1px] border-gray p-2 rounded-lg"
            tabindex="1"
          >
            {skills.map((skill) => (
              <div class="flex flex-col lg:flex-row items-center m-1">
                <Icon
                  name={skill.Icon}
                  class={"inline-block"}
                  size={"1.5rem"}
                />
                <p class="ml-1">{skill.Name}</p>
              </div>
            ))}
          </div>
        </>
      ))
    }
  </div>
</>
<style>
  .label:has(input:checked) + .panel {
    display: grid;
  }
</style>
